    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.fraichementpresse.ca/image/policy:1.1816946:1591719409/3-cocktails-a-la-biere-pour-quand-on-a-rien-ou-presque.jpg?w=1000&$p$w=22ec1d0)">
      <div class="container">
        <h1 id="banner-typed-text"></H1>
        <%= link_to "create my cocktail", new_cocktail_path, class: "btn btn-primary" %>
      </div>
    </div>

<div class="container-cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card"><%= link_to cocktail.name, cocktail_path(cocktail)%></div>
  <% end %>
</div>

